<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <form>
      <div class="row">
        <div class="mb-3 col-6">
          <label for="nome" class="form-label">Nome</label>
          <input class="form-control" id="nome">
        </div>
        <div class="mb-3 col-6">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input class="form-control" id="sobrenome">
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha">
      </div>
      <div class="mb-3">
        <label for="idade" class="form-label">Idade</label>
        <input type="number" class="form-control" id="idade">
      </div>
      <div class="row">
        <div class="mb-3 col-6">
          <p>Mora em Santa Catarina?</p>
          <select class="form-select" aria-label="Default select example">
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
          </select>
        </div>
        <div class="mb-3 col-6">
          <p>Tecnologias conhecidas</p>
          <div class="row">
            <div class="form-check ms-3 col-6">
              <input class="form-check-input" type="checkbox" value="" id="angular">
              <label class="form-check-label" for="angular">
                Angular
              </label>
            </div>
            <div class="form-check col-5">
              <input class="form-check-input" type="checkbox" value="" id="docker">
              <label class="form-check-label" for="docker">
                Docker
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-check ms-3 col-6">
              <input class="form-check-input" type="checkbox" value="" id="javascript">
              <label class="form-check-label" for="javascript">
                JavaScript
              </label>
            </div>
            <div class="form-check col-5">
              <input class="form-check-input" type="checkbox" value="" id="java">
              <label class="form-check-label" for="java">
                Java
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-check ms-3">
              <input class="form-check-input" type="checkbox" value="" id="python">
              <label class="form-check-label" for="python">
                Python
              </label>
            </div>
          </div>
        </div>
      </div>
      <button type="reset" class="btn btn-secondary me-2">Limpar</button>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
<!--nome, sobrenome, email, senha, idade, mora em Santa Catarina (use um select), 
tecnologias conhecidas (use 
checkbox com as seguintes opções: angular, docker, javascript, java e python). -->